.DS_Store
p.tsv
RESUMEN Funcionesxejercicio.txt
README_DS.txt
RESUMEN_GRAFICOS.txt
web_scraping_delivery_MVL_Parte2 (regex).ipynb
PRES_DESAF_TRIP_JUL2020.txt
web_scraping_pruebas.ipynb
Proyecto Agosto MVL.txt
info_GIT_MVL.txt
reto_28_alumn.numbers
data*.tsv
IMDB.pdf
*.csv
Archivo.zip
*.html
*.png
*OLD.*
*.json